@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

h2 {
    text-align: center;
    font-size: 24px;
}

hr {
    margin-bottom: 30px;
}

div.container {
    width: 960px;
    height: 610px;
    margin: 50px auto;
    font-family: 'Droid Serif', serif;
    position: relative;
}

div.main {
    width: 320px;
    float: left;
    padding: 10px 55px 40px;
    background-color: rgba(187, 255, 184, 0.65);
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;
}

input[type=text], [type=password], [type=email] {
    width: 95%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    /*box-shadow: 0 0 5px #00F5FF;
    border: 2px solid #00F5FF;*/
    color: #4f4f4f;
    font-size: 13px;
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

#register {
    font-size: 20px;
    margin-top: 15px;
    background: linear-gradient(#22abe9 5%, #36caf0 100%);
    border: 1px solid #0F799E;
    padding: 7px 35px;
    color: white;
    text-shadow: 0px 1px 0px #13506D;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}

    #register:hover {
        background: linear-gradient(#36caf0 5%, #22abe9 100%);
    }

#regDiv {
    display: none;
}

.hideDivs {
    display: none;
}

.hideButtons {
    display: none;
}

table.widther {
    width: 100%;
    height: 100%;
}

td {
    width: 50%;
}

ol.olist {
    font-size: 15px;
}

.helper{

}

.drives{
    float:right;
}

#divhome{
    float:left;
}

#divhomecontainer {
    margin: auto;
}
/*Za popup window*/
/* Outer */
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #fff;
}
/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

    .popup-close:hover {
        -webkit-transform: translate(50%, -50%) rotate(180deg);
        transform: translate(50%, -50%) rotate(180deg);
        background: rgba(0,0,0,1);
        text-decoration: none;
    }